.surligne {
    background-color: #1b85b8; 
    color: #000000;
    padding: 0px 2px 0px 2px;
}

.titrenews {
    color: #9999cc;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
}

.floatl {
    float: left; 
    margin-right: 10px;
}

.floatr {
    float: right; 
    margin-left: 10px;
}
